{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/kasi_contact-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About iKasi</h1>
          <span class="subheading">About amaKasi Ase Mzansi!</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          A South African township refers to underdeveloped urban areas that, during apartheid, were reserved for
          non-white populations, such as black Africans, Coloureds, and Indians. Townships were usually located on the
          outskirts of cities and towns, segregated from areas designated for white people. They were created as part
          of the policies of racial segregation enforced by the apartheid regime (1948–1994). However, the roots of
          townships date back to colonial times, as early as the 19th century, when the colonial government began
          controlling the movement and settlement of Black South Africans.
        </p>
        <h2>Characteristics of South African Townships:</h2>
        <ol class="my-5">
          <li class="my-4">
            <strong>Infrastructure:</strong> Historically, townships had poor infrastructure with inadequate access to
            services like electricity, clean water, proper sanitation, and healthcare. Housing in these areas was often
            overcrowded and substandard.
          </li>
          <li class="my-4">
            <strong>Economy:</strong> Economic opportunities within townships were extremely limited, leading to high
            levels of unemployment and poverty. Informal businesses and street vendors became crucial to sustaining
            local economies.
          </li>
          <li class="my-4">
            <strong>Culture:</strong> Despite the hardships, townships have been vibrant cultural hubs, known for their
            rich traditions of music, dance, and arts. Genres like Kwaito and Maskandi, and more recently Amapiano,
            emerged from township life. Townships like Soweto, outside Johannesburg, and Khayelitsha, near Cape Town,
            are especially renowned for their cultural influence.
          </li>
          <li class="my-4">
            <strong>Current Conditions:</strong> Although apartheid ended in 1994, many townships continue to face
            economic and social challenges. The South African government has made efforts to improve living conditions
            through housing projects, infrastructure development, and social programs, but disparities remain.
            Urbanization has also contributed to the expansion of these areas, where millions still reside.
          </li>
        </ol>
        <p>
          Townships today reflect a mix of progress, innovation, and ongoing struggle, often acting as symbols of South
          Africa’s complex journey from apartheid to democracy.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
